/* Viser i menyen at man er inne på "Om oss"-siden */
#aboutNav .underline{
  width: calc(100% - 40px) !important;
}

#aboutNav a {
  color: rgb(76,142,57) !important;
}

@media screen and (max-width: 960px) {
  #aboutNav a {
    color: #CFDB42 !important;
  }
}
