html {
  height: 100%;
  /* -webkit-font-smoothing: antialiased; */
}

h2 {
  text-align: center;
  color: #CFDB42;
  font-size: 2.5em;
  font-weight: lighter;
  margin: 0px 0px 20px 0px;
  overflow-wrap: break-word;
}

h3 {
  color: #4c8e39;
  font-size: 1.2em;
  font-weight: 700;
  margin-bottom: 0px;
  overflow-wrap: break-word;
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #424242;
  line-height: 1.3;
  font-size: 1.2em;
  overflow-wrap: break-word;
}

body {
  position: relative;
  min-height: 100%;
  width: 100%;
  margin: auto;
  font-family: helvetica, arial, sans-serif;
}

a {
  text-decoration: none;
  color: #CFDB42;
}

p a:hover {
  color: rgb(76,142,57);
}

em {
  color: #4c8e39;
}

/*Navbar*/
.navbar {
  background-color: rgba(255,255,255,1);
  position: sticky;
  top: 0px;
  box-shadow: 0px 2px 2px grey;
  z-index: 10;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0 auto 0 auto;

}

li {
    float: left;
    position: relative;
    left: 120px;
}

li a {
    display: block;
    color: #CFDB42;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    transition: color 0.2s ease;
    padding: 30px 20px 25px 20px;
}


#logoSmall:hover {
  background-color: rgb(76,142,57) !important;
}

li:hover a{
  color: rgb(76,142,57) !important;
  text-shadow: none;
}

/*Underline og fargeendring ved hover*/
li:hover .underline{
  width: calc(100% - 40px);
}

.underline {
  margin: auto;
  height: 5px;
  width: 0px;
  background-color: rgb(76,142,57);
  position: relative;
  bottom: 20px;
  border-radius: 2px;
  transition: width 0.3s;
  /* -webkit-transition: width 0.3s ease; */
  padding: 0;
}

.mainBar {
  width: 100%;
  overflow: hidden;
}

.navbarInside {
  max-width: 960px;
  margin: auto;
  border-left: 2px white;
}

/*Navelementer*/

#logoSmall {
  height: 60px;
  width: 60px;
  position: absolute;
  margin: 10px 0px 0px 50px;
  background-color: #CFDB42;
  border-radius: 50%;
  border: 1px solid white;
  transition: background-color 0.2s ease;
}

#aboutNav {
  width: 130px;
}

#valuesNav{
  width: 200px;
}

#productsNav{
  width: 175px;
}

#webpageNav{
  width: 175px;
}

#contactNav{
  width: 150px;
}

/* Responsive navbar */
.navbar .navIcon {
  display: none;
}

@media screen and (max-width: 960px) {
  .mainBar * {
    display: none;
    width: auto !important;
  }

  .navbar {
    position: relative;
    background-color: rgba(255,255,255,0);
    box-shadow: none;
  }

  .container {
    width: auto !important;
    padding: 10px !important;
  }

  #nav {
    height: 83px;
  }

  .navbar_responsive .mainBar {
    overflow: visible;
    padding-top: 85px;
  }

  .navbar_responsive {
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
    left: 0px;
    top: 100px;
    font-size: 30px;
  }

  .navbar_responsive .mainBar * {
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    left: 0px;
    color: white;
    text-shadow: 1px 1px 3px #6f6f6f;
  }

  .navIcon {
    position: fixed;
    top: 15px;
    right: 15px;
    background-color: white;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    padding: 7px;
    box-sizing: content-box;
    box-shadow: 0px 0px 7px grey;
  }

  .navIcon img {
    height: 30px;
    width: 30px;
  }

  #logoSmall {
    display: none;
  }

  .navbar_responsive #burger {
    display: none;
  }

  .navbar #burger, .navbar_responsive #cross {
    display: block;
  }

  .underline {
    display: none !important;
  }
  .navbar_responsive #logoSmall {
    position: absolute;
    margin: 15px 0 0 50%;
    transform: translate(-50%, 0%);
  }
}
/*Navbar slutt*/
