html {
  height: 100%;
}

h2 {
  text-align: center;
  color: rgb(207,219,66);
  font-size: 2.5em;
  font-weight: lighter;
  margin: 0px 0px 20px 0px;
  overflow-wrap: break-word;
}

h3 {
  color: rgb(76,142,57);
  font-size: 1.2em;
  font-weight: 700;
  margin-bottom: 0px;
  overflow-wrap: break-word;
}

p {
  color: rgb(66,66,66);
  font-size: 1.2em;
  line-height: 1.3;
  margin-bottom: 0px;
  margin-top: 0px;
  overflow-wrap: break-word;
}

body {
  font-family: helvetica, arial, sans-serif;
  margin: auto;
  min-height: 100%;
  position: relative;
  width: 100%;
}

a {
  color: #CFDB42;
  text-decoration: none;
}

p a:hover {
  color: rgb(76,142,57);
}

em {
  color: rgb(76,142,57);
}

/* Navbar */
.navbar {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 2px 2px grey;
  position: sticky;
  top: 0px;
  z-index: 10;
  max-height: 83px;
}

ul {
  list-style-type: none;
  margin: 0 auto 0 auto;
  padding: 0;
}

li {
  float: left;
  position: relative;
}

li a {
  color: rgb(207,219,66);
  display: block;
  font-size: 20px;
  font-weight: bold;
  padding: 30px 20px 25px 20px;
  text-align: center;
  text-decoration: none;
  transition: color 0.2s ease;
}


#logoSmall:hover {
  background-color: rgb(76,142,57) !important;
}

li:hover > a{
  color: rgb(76,142,57) !important;
  text-shadow: none;
}

/* Underline og fargeendring ved hover */
li:hover .underline{
  width: calc(100% - 40px);
}

.underline {
  background-color: rgb(76,142,57);
  border-radius: 2px;
  bottom: 20px;
  height: 5px;
  margin: auto;
  padding: 0;
  position: relative;
  transition: width 0.3s;
  width: 0px;
}

.mainBar {
  width: 100%;
}

.navbarInside {
  border-left: 2px white;
  margin: auto;
  max-width: 960px;
}

/* Navelementer */
#logoSmall {
  background-color: rgb(207,219,66);
  border: 1px solid white;
  border-radius: 50%;
  height: 60px;
  margin: 10px 0px 0px 50px;
  position: absolute;
  transition: background-color 0.2s ease;
  width: 60px;
}

#aboutNav {
  width: 130px;
  left: 120px;
}

#valuesNav{
  width: 200px;
  left: 250px;
}

#productsNav{
  width: 175px;
  left: 325px;
}

#webpageNav{
  width: 175px;
  left: 325px;
}

#contactNav{
  width: 150px;
  left: 325px;
}

/* Responsive navbar */
.navbar .navIcon {
  display: none;
}

@media screen and (max-width: 960px) {
  .mainBar * {
    display: none;
    width: auto !important;
  }

  .navbar {
    background-color: rgba(255, 255, 255, 0);
    box-shadow: none;
    position: relative;
  }

  .container {
    padding: 10px !important;
    width: auto !important;
  }

  #nav {
    height: 83px;
  }

  .navbar_responsive .mainBar {
    overflow: visible;
    padding-top: 85px;
  }

  .navbar_responsive {
    display: block;
    float: none;
    font-size: 30px;
    left: 0px;
    margin-left: auto;
    margin-right: auto;
    top: 100px;
  }

  .navbar_responsive .mainBar * {
    color: white;
    display: block;
    float: none;
    font-size: 30px;
    left: 0px;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 1px 1px 3px #6f6f6f;
  }

  .navIcon {
    background-color: white;
    border-radius: 50%;
    box-sizing: content-box;
    box-shadow: 0px 0px 7px grey;
    height: 30px;
    padding: 7px;
    position: fixed;
    right: 15px;
    top: 15px;
    width: 30px;
  }

  .navIcon img {
    height: 30px;
    width: 30px;
  }

  #logoSmall {
    display: none;
  }

  .navbar_responsive #burger {
    display: none;
  }

  .navbar #burger, .navbar_responsive #cross {
    display: block;
  }

  .underline {
    display: none !important;
  }
  .navbar_responsive #logoSmall {
    margin: 15px 0 0 50%;
    position: absolute;
    transform: translate(-50%, 0%);
  }

  .dropdown-content {
    display: none !important;
  }
}

.dropdown {
  position: relative;
  display: -webkit-inline-box;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(255,255,255);
  margin-left: 10%;
  min-width: 160px;
  box-shadow: 2px 2px 2px grey;
}

/* Links inside the dropdown */
.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

@media screen and (min-width: 960px) {
  /* The container <div> - needed to position the dropdown content */

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    color: rgb(76,142,57) !important;
    background-color: rgba(255,255,255,0.8);
  }

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  .dropbtn:hover .dropdown-content {display: block;}
}
