#googlemaps {
border: 0;
max-height: 100%;
max-width: 100%;
}

#contactText p {
  text-align: center;
}

/* Viser i menyen at man er inne på "Om oss"-siden */
#contactNav .underline{
  width: calc(100% - 40px) !important;
}

#contactNav a {
  color: rgb(76,142,57) !important;
}

@media screen and (max-width: 960px) {
  #contactNav a {
    color: #CFDB42 !important;
  }
}
