#googlemaps {
border: 0;
max-width: 100%;
max-height: 100%;
}

/* This splits the footer into 3 columns */
.footerColumn {
  float: left;
  width: 33.33%;
}

.footerRow::after {
  content: "";
  display: table;
  clear: both;
}

body {
  margin-bottom: 125px;
}

/* This pushes the footer to the bottom of the page */

.footerBox {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden; /* Removes a white line below the footer */
}

/* Styling for the footer */
#commonFooter {
    height: 125px;
    /* background-color: #F6F7EF; */
    background-color: white;
    color: green;
    text-align: center;
    position: absolute;
    bottom: -125px;
    width: 100%
}

#commonFooter p {
  margin-top: 5px;
}

.footerHeading {
  color: green;
  font-size: 18px;
}

.footerText {
  color: green;
  font-size: 15px;
}

.footerText a {
  color: green;
  font-size: 15px;
  text-decoration: none;
}

.socialIcons {
  text-align: center;
  margin-top: 10px;
}

#footerIconEtikken {
  padding-left: 15px;
  padding-right: 15px;
}

/* This changes the footer into a single column when needed */
@media screen and (max-width: 960px) {
  .footerColumn {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }
  #commonFooter {
    height: auto;
    position: relative;
  }
}
