/*Fremsidebilde*/
.frontImg {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  position: relative;
  top: 0px;
}

#imageBox {
  width: 100%;
  height: 100vh;
  position: relative;
  top: -83px;
  z-index: -1;
}

#centerLogo {
  max-width: 960px;
  height: 100vh;
  margin: auto;
  position: relative;
  top: -100vh;
}
#logoBig {
  position: absolute;
  height: 102.2%;
  width: 102.2%;
  right: -1.47%;
  top: -1.6%;
}

.logo {
  height: 60vh;
  width: 60vh;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: #CFDB42;
  border-radius: 50%;
}
/*Fremsidebilde slutt*/

/*Alle boksene som ikke er navbar eller footer*/
.boxFront {
  max-width: 860px;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding: 10px 50px 10px 50px;
  position: relative;
}

/*Tekstbokser */
.boxBorder {
  width: 400px;
  padding: 25px;
  box-shadow: 1px 1px 2px #a2a2a2;
  background-color: white;
  /*max-height: 300px;*/
  z-index: 5;
}

/* Seksjonsdeler/bakgrunnskifte */
.boxContainer {
  /*js function for 100vh-navbar height*/
  padding-top: 30px;
  padding-bottom: 20px;
  position: relative;
}

.boxContainer:nth-child(even){
  background-color: #F6F7EF;
}

.boxContainer:nth-child(odd){
  background-color: white;
}


/*Tekstbokser partall*/
.boxContainer:nth-child(even) .boxFront .boxBorder{
  position: relative;
  left: 400px;
}

.boxContainer:nth-child(even) .boxFront h2{
  left: 400px;
}

/*Tekstbokser oddetall*/
.boxContainer:nth-child(odd) .boxFront .boxBorder{
  position: relative;
  background-color: #F6F7EF;
}

.boxContainer:nth-child(odd) .boxFront h2{
  margin: 5px;
}

.boxContainer:nth-child(odd) .boxFront{
}

.boxContainer:nth-child(even) .boxFront{
}

/*Overskrifter tekstbokser*/
.boxFront h2{
  position: relative;
  max-width: 400px;
  margin-bottom: 5px;
  margin-top: 0px;
  top: 28px;
  z-index: 6;

  text-align: left;
  padding-left: 15px;
  color: #CFDB42;
  font-size: 50px;
  font-weight: 200;
  text-shadow: 1.5px 1.5px 2px #a2a2a2;
}

/*Se mer-boks*/
a {
  text-decoration: none;
  color: #CFDB42;
}

/*Linker skifter farge ved hover. Skal overskriftene også gjøre dette?*/
a:hover {
  color: rgb(76,142,57);
}

.moreBox:hover {
  color: white;
  background-color: green;
}

#backImg {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position:fixed;
  top: 0px;
  z-index: -1;
  opacity: 0.6;
}

.imgSmall {
  height: 65vh;
  object-fit: cover;
  width: 500px;
  position: absolute;
  opacity: 0.8;
}

.boxContainer:nth-child(even) .imgSmall{
  left: 50px;
  top: 5vh;
}

.boxContainer:nth-child(odd) .imgSmall{
  right: 50px;
  top: 5vh;
}
/*Bokser slutt*/
