/* Forsidebilde */
.frontImg {
  height: 100vh;
  object-fit: cover;
  position: relative;
  top: 0px;
  width: 100%;
}

#imageBox {
  height: 100vh;
  position: relative;
  top: -83px;
  width: 100%;
  z-index: -1;
}

#centerLogo {
  height: 100vh;
  margin: auto;
  max-width: 960px;
  position: relative;
  top: -100vh;
}
#logoBig {
  height: 102.2%;
  position: absolute;
  right: -1.47%;
  top: -1.6%;
  width: 102.2%;
}

.logo {
  background-color: #CFDB42;
  border-radius: 50%;
  display: block;
  height: 60vh;
  left: 50%;
  margin-right: -50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60vh;
}

/* Alle boksene som ikke er navbar eller footer */
.boxFront {
  height: 100%;
  margin: auto;
  max-width: 860px;
  padding: 10px 50px 10px 50px;
  padding-bottom: 10px;
  padding-top: 10px;
  position: relative;
}

/* Tekstbokser */
.boxBorder {
  background-color: white;
  box-shadow: 1px 1px 2px #a2a2a2;
  padding: 10px 25px 25px 25px;
  width: 400px;
  z-index: 5;
}

/* Seksjonsdeler/bakgrunnskifte */
.boxContainer {
  /* Javascript function for 100vh-navbar height */
  padding-bottom: 20px;
  padding-top: 30px;
  position: relative;
}

.boxContainer:nth-child(even){
  background-color: #F6F7EF;
}

.boxContainer:nth-child(odd){
  background-color: white;
}

span {
  letter-spacing: -6px;
}

/* Tekstbokser partall */
.boxContainer:nth-child(even) .boxFront .boxBorder{
  left: 400px;
  position: relative;
}

.boxContainer:nth-child(even) .boxFront h2{
}

/* Tekstbokser oddetall */
.boxContainer:nth-child(odd) .boxFront .boxBorder{
  background-color: #F6F7EF;
  position: relative;
}

.boxContainer:nth-child(odd) .boxFront h2{
}

.boxContainer:nth-child(odd) .boxFront{
}

.boxContainer:nth-child(even) .boxFront{
  top: 100px;
}

/* Overskrifter tekstbokser */
.boxFront h2{
  /*position: relative;*/
  top: 28px;
  z-index: 6;
  /*text-shadow: 1.5px 1.5px 2px #a2a2a2;*/
  margin-bottom: 5px;
  text-align: left;
  top: 28px;
  z-index: 6;
}

/*Se mer-boks*/
.moreBox:hover {
  background-color: green;
  color: white;
}

#backImg {
  height: 100vh;
  object-fit: cover;
  opacity: 0.6;
  position:fixed;
  top: 0px;
  width: 100%;
  z-index: -1;
}

.imgSmall {
  border-radius: 0%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
  overflow: hidden;
  position: absolute;
  width: 500px;
}

.boxContainer:nth-child(even) .imgSmall{
  left: 50px;
  top: calc(10% - 100px);
}

.boxContainer:nth-child(odd) .imgSmall{
  right: 50px;
  top: 10%;
}
/* Bokser slutt */

@media screen and (max-width: 960px) {
  .frontImg {
    position: fixed;
  }

  #centerLogo {
    top: 0;
  }

  .boxFront {
    margin: 0;
    max-width: 960px;
    top: 0 !important;
    padding: 0;
    width: 100%;
  }

  .boxBorder {
    background-color: inherit !important;
    box-shadow: none;
    min-height: 100%;
    padding: 5%;
    width: 100%;
  }

  .imgSmall {
    display: none;
    height: 80px;
    top: 0 !important;
    opacity: 0.2;
    right: 0 !important;
    width: 100%;
  }

  .boxContainer {
    height: auto !important;
    margin: 0;
    overflow: hidden;
    padding: 0;
  }

  .boxFront h2 {
    font-size: 270%;
    left: 0;
    margin: 0 !important;
    max-width: 100%;
    padding: 0;
    text-align: left;
    text-shadow: none;
    top: 0;
    width: 100%;
  }
  .imageBox {
    top: 25vh;
  }

  .boxContainer:nth-child(even) .boxFront .boxBorder {
    left: 0;
  }

  .boxContainer:nth-child(even) .boxFront h2 {
    left: 0;
  }

  .boxContainer:nth-child(even) .imgSmall {
    left: 0;
  }

  .logo {
    height: 70vw;
    max-height: 70vh;
    max-width: 70vh;
    width: 70vW;
  }
}
