/* Boks med alle fremsidebilder/elementer */
#imageBox {
  height: 100vh;
  position: relative;
  top: -83px;
  width: 100%;
  z-index: -1;
}

/* Selve forsidebilde */
.frontImg {
  height: 100vh;
  max-height: 100vh;
  object-fit: cover;
  position: relative;
  top: 0px;
  width: 100%;
}
/* Div som sentrerer Logo */
#centerLogo {
  height: 100vh;
  margin: auto;
  max-width: 960px;
  position: relative;
  top: -100vh;
}

/* Div som setter bakgrunnsfarge på logo også ansvarlig for videre sentrering */
.logo {
  background-color: rgb(207,219,66);
  border-radius: 50%;
  display: block;
  height: 60vh;
  left: 50%;
  margin-right: -50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60vh;
  z-index: 100;
}

/* Selve logo (uten bakgrunnsfarge) */
#logoBig {
  height: 102.2%;
  position: absolute;
  right: -1.47%;
  top: -1.6%;
  width: 102.2%;
}

/* Åpningstiderboks */
#opening {
  position: fixed;
  right: 20px;
  background-color: rgba(169, 169, 169, 0.7);
  top: 110px;
  padding: 15px;
  min-height: 170px;
  min-width: 170px;
  border-radius: 50%;
  text-align: center;
}

#opening h3 {
  margin-top: 25px;
  color: rgb(255,255,255);
}

#opening p {
  color: rgb(255,255,255);
}

/* Alle boksene som ikke er navbar eller footer */
.boxFront {
  height: 100%;
  margin: auto;
  max-width: 860px;
  padding: 10px 50px 10px 50px;
  padding-bottom: 10px;
  padding-top: 10px;
  position: relative;
  top: 100px;
}

/* Tekstbokser */
.boxBorder {
  background-color: rgb(255,255,255);
  box-shadow: 1px 1px 2px rgb(162,162,162);
  padding: 10px 25px 25px 25px;
  width: 400px;
  z-index: 5;
}

/* Seksjonsdelere/bakgrunnsskifte */
.boxContainer {
  padding-bottom: 20px;
  padding-top: 30px;
  position: relative;
}

/* Partall */
.boxContainer:nth-child(even){
  background-color: rgb(246,247,239);
}

/* Oddetall */
.boxContainer:nth-child(odd){
  background-color: rgb(255,255,255);
}

/* Tekstbokser partall */
.boxContainer:nth-child(even) .boxFront .boxBorder{
  left: 400px;
  position: relative;
}

/* Tekstbokser oddetall */
.boxContainer:nth-child(odd) .boxFront .boxBorder{
  background-color: rgb(246,247,239);
  position: relative;
}

/* Overskrifter tekstbokser */
.boxFront h2{
  margin-bottom: 5px;
  text-align: left;
  top: 28px;
  z-index: 6;
}

/* De små bildene */
.imgSmall {
  border-radius: 0%;
  height: 80%;
  object-fit: cover;
  opacity: 0.8;
  overflow: hidden;
  position: absolute;
  width: 500px;
}

/* Bilder partall */
.boxContainer:nth-child(even) .imgSmall{
  left: 50px;
  top: calc(10% - 100px);
}

/* Bilder oddetall */
.boxContainer:nth-child(odd) .imgSmall{
  right: 50px;
  top: calc(10% - 100px);
}

/* Reduserer mellomrom mellom V og Å i "våre verdier"-overskrift */
span {
  letter-spacing: -6px;
}

/* For mobilskjermer */
@media screen and (max-width: 960px) {
  .frontImg {
    position: fixed;
  }

  .boxFront {
    margin: 0;
    max-width: 960px;
    top: 0 !important;
    padding: 0;
    width: 100%;
  }

  .boxBorder {
    background-color: inherit !important;
    box-shadow: none;
    min-height: 100%;
    padding: 20px;
    width: 100%;
  }

  .imgSmall {
    display: none;
  }

  .boxContainer {
    height: auto !important;
    margin: 0;
    overflow: hidden;
    padding: 0;
  }

  .boxFront h2 {
    font-size: 270%;
    left: 0;
    margin: 0 !important;
    max-width: 100%;
    padding: 0;
    text-align: left;
    text-shadow: none;
    top: 0;
    width: 100%;
  }
  .imageBox {
    top: 25vh;
  }

  .boxContainer:nth-child(even) .boxFront .boxBorder {
    left: 0;
  }

  .boxContainer:nth-child(even) .boxFront h2 {
    left: 0;
  }

  .boxContainer:nth-child(even) .imgSmall {
    left: 0;
  }

  .logo {
    height: 70vw;
    max-height: 70vh;
    max-width: 70vh;
    width: 70vW;
  }

  #centerLogo {
    top: 0;
  }

  #opening {
    bottom: 20px;
    top: auto;
  }
}

/* Skjuler bilder i slideshowet */
* {box-sizing:border-box}

.slides {
  display: none;
  height: 100%;
}

.slideImg {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

/* Fadinganimasjon for slideshow */
.fade {
  animation-duration: 1.0s;
  animation-name: fade;
}

@keyframes fade {
  from {opacity: .5}
  to {opacity: 1}
}
