/* Viser i menyen at man er inne på "Produkt"-siden */
#productsNav .underline{
  width: calc(100% - 40px) !important;
}

#productsNav a {
  color: rgb(76,142,57) !important;
}

@media screen and (max-width: 960px) {
  #productsNav a {
    color: #CFDB42 !important;
  }
}
