/* Farge på viktige ord i introduksjon for blikkfang */
span {
  color: rgb(76,142,57);
}

/* Plassering av tekstbokser og bilder */
.small{
  transform: translateY(-0%) translateX(0%);
  width: 50%;
}

.imgSmall {
    height: auto;
    position: absolute;
    transform: translateY(-90%) translateX(116.5%);
    width: 350px;
    z-index: +5;
}

/* Style for siste infoboks med linker */
.head {
  font-weight: bold;
}
/* Viser i menyen at man er inne på "produkt"-siden */
#productsNav .underline{
  width: calc(100% - 40px) !important;
}

#productsNav a {
  color: rgb(76,142,57) !important;
}

@media screen and (max-width: 960px) {
  #productsNav a {
    color: #CFDB42 !important;
  }
  figure {
    margin: 0;
    position: relative;
  }
}
