* {box-sizing:border-box}

/* Slideshow container */
/*.slideshow-container {
  max-width: 1000px;
  width: 70%;
  height: auto;
  align: right;
  position: absolute;
  transform: translateY(-100%) translateX(50%);
  margin: auto;
}*/

/* Hide the images by default */
.mySlides {
    display: none;
    height: 100%;
}

.imgSlides {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.0s;
  animation-name: fade;
  animation-duration: 1.0s;
}

@-webkit-keyframes fade {
  from {opacity: .5}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .5}
  to {opacity: 1}
}
