* {box-sizing:border-box}

img {
  width: 100%;
}

.slideshow-container {
  width: 70%;
  height: auto;
  align: right;
  position: absolute;
  transform: translateY(-100%) translateX(50%);
  margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.0s;
  animation-name: fade;
  animation-duration: 1.0s;
}

@-webkit-keyframes fade {
  from {opacity: .5}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .5}
  to {opacity: 1}
}
