html {
  height: 100%;
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #475351;
}

body {
  position: relative;
  min-height: 100%;
  background-color: white;
  width: 100%;
  margin: auto;
  font-family: arial;
}

/*Navbar*/
.navbar {
  background-color: rgb(255,255,255,1);
  position: sticky;
  top: 0px;
  box-shadow: 0px 2px 2px grey;
  z-index: 10;
  /*opacity: 0.6;*/
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0 auto 0 auto;

}

li {
    float: left;
    position: relative;
    left: 120px;
    padding: 30px 20px 30px 20px;
}

li a {

    display: block;
    color: #CFDB42;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    transition: color 0.2s ease;
}

/*Enkel underline ved hover*/
li:hover .underline{
  display: block;
  width: inherit;
}

li:hover a{
  color: grey !important; /* Finnes kanskje metode uten å bruke important*/
}

.underline {
  display: none;
 height: 5px;
 width: 0px;
 background-color: grey;
 position: absolute;
 bottom: 20px;
 border-radius: 3px;
 transition: width 2s;
}

.mainBar {
  width: 100%;
  overflow: hidden;
}

.navbarInside {
  max-width: 960px;
  margin: auto;
  border-left: 2px white;
}

/*Navelementer*/

#logoSmall {
  height: 60px;
  width: 60px;
  position: absolute;
  margin: 10px 0px 0px 50px;
  background-color: #CFDB42;
  border-radius: 50%;
  border: 1px solid white;
}

#aboutNav {
  width: 90px;
}

#valuesNav{
  width: 160px;
}

#productsNav{
  width: 135px;
}

#webpageNav{
  width: 135px;
}

#contactNav{
  width: 110px;
}

/*Navbar slutt*/

/*Fremsidebilde*/
.frontImg {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  position: relative;
  top: -83px;
  z-index: -1;

  /*  clip-path: inset(0px 0px 30% 0px);
  margin-bottom: -20%;
  opacity: 0.85;
  box-shadow: 0px 5px 3px grey*/
}

.imageBox {
  width: 100%;
  height: 500px;
}

#circle {
  background-color: #CFDB42;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  z-index: 4;
}
/*Fremsidebilde slutt*/

/*Alle boksene som ikke er navbar eller footer*/
.boxFront {
  max-width: 960px;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding: 10px 0px 10px 0px;
}

/*Tekstbokser */
.boxBorder {
  /*border-style: solid;
  border-width: 1.5px;*/
  width: 350px;
  padding: 25px;
  /*box-shadow: 2px 2px 2px grey;*/
  text-align: justify;
  background-color: white;
  min-height: 300px;
  font-size: 1.4em;
}

/* Seksjonsdeler/bakgrunnskifte */
.boxContainer {
  padding-top: 30px;
  padding-bottom: 20px;
}

.boxContainer:nth-child(even){
  background-color: #F6F7EF;
}

.boxContainer:nth-child(odd){
  background-color: white;
}


/*Tekstbokser partall*/
.boxContainer:nth-child(even) .boxFront .boxBorder{
  position: relative;
  left: 540px;
}

.boxContainer:nth-child(even) .boxFront h2{
  left: 540px;
}

/*Tekstbokser oddetall*/
.boxContainer:nth-child(odd) .boxFront .boxBorder{
  position: relative;
  background-color: #F6F7EF;
}

.boxContainer:nth-child(odd) .boxFront h2{
  margin: 5px;
}

/*Overskrifter tekstbokser*/
.boxFront h2{
  position: relative;
  max-width: 400px;
  margin-bottom: 5px;
  margin-top: 0px;
  top: 28px;
  z-index: 2;

  text-align: center;
  color: #CFDB42;
  font-size: 50px;
  font-weight: 200;
  /*letter-spacing: 0px;*/
}

/*Se mer-boks*/
.moreBox {
  border-style: solid;
  border-width: 1px;
  border-color: green;
  padding: 25px;
  position: absolute;
  left: 135px;
  bottom: 70px;
  width: 80px;
  text-align: center;
  visibility: hidden;
}

.moreBox:hover {
  color: white;
  background-color: green;
}
/*Bokser slutt*/


/*Footer*/
#contact {
  margin-bottom: 150px; /* for footer always on bottom*/
}

footer {
  background-color: grey;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 100px;
  text-align: center;
}

/*Footertekst*/
footer p {
  position: absolute;
  margin: auto;
  width: 100%;
  color: white;
}
