/*Farge på viktige ord i introduksjon, blikkfang*/
span {
  color: rgb(76,142,57);
}

/*Plassering av tekstbokser og bilder*/
.small{
  width: 50%;
  transform: translateY(-0%) translateX(0%);
}

.imgSmall {
  width: 350px;
  height: auto;
  position: absolute;
  z-index: +5;
  transform: translateY(-90%) translateX(116.5%);
}

/*Style for siste infoboks med linker*/
.head {
  font-weight: bold;
}
/*Du er inne på siden*/
#valuesNav .underline{
  width: calc(100% - 40px) !important;
}

#valuesNav a {
  color: rgb(76,142,57) !important;
}

@media screen and (max-width: 960px) {
  #valuesNav a {
    color: #CFDB42 !important;
  }
  figure {
    position: relative;
    margin: 0;
  }
}
