/* Vise i menyen at du er inne på "Verdier"-siden */
#valuesNav .underline{
  width: calc(100% - 40px) !important;
}

#valuesNav > a {
  color: rgb(76,142,57) !important;
}

@media screen and (max-width: 960px) {
  #valuesNav a {
    color: #CFDB42 !important;
  }
}
