#verdi1 {
  width: 50%;
}

#bilde1 {
    width: 365px;
    height: auto;
    position: absolute;
    z-index: +5;
    transform: translateY(-150%) translateX(108.5%);
}

#verdi2 {
  width: 50%;
  position: relative;
  left: 400px;
}

#bilde2 {
    width: 425px;
    height: auto;
    position: absolute;
    z-index: +5;
    transform: translateY(-150%) translateX(-10%);
}

/*Du er inne på siden*/
#valuesNav .underline{
  width: calc(100% - 40px) !important;
}

#valuesNav a {
  color: rgb(76,142,57) !important;
}

@media screen and (max-width: 960px) {
  #valuesNav a {
    color: #CFDB42 !important;
  }
  figure {
    position: relative;
    margin: 0;
  }
}
